{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<p></p>
<p style="font-size: 50px;" class="text-center">{{ book.title }}</p>



<table>
    <tbody>
        <tr class='book-item'>
            <td>
                <img src="{{ url_for('news_api.static', filename=book.image_path) }}" width="380" height="550" alt="{{ book.title }}">

                <div>Автор - {{ book.user.name }}</div>
                <div>Дата написания - {{ book.created_date }}</div>
            </td>
            <td>
                <div>{{ book.con }}</div>
            </td>
            <td>
                <div style="display:flex; justify-content:center; align-items:center; ">
                    <a  href="{{ url_for('news_api.static', filename=book.file_path) }}" class="btn align-center btn-primary " download>
                    Скачать книгу
                </a>
            </div>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>

{% if current_user.is_authenticated %}
    {% if current_user.id == book.user_id %}
                <br />
                <br />
                <br />
                <div style="display:flex; justify-content:center; align-items:center; ">
                    <a href="/deletebook/{{ book.id }}" style="font-size: 50px;" class="btn align-center btn-danger">ㅤㅤㅤУдалить книгуㅤㅤㅤ</a>
                </div>
    {% endif %}
{% endif %}
    
</div>
{% endblock %}