{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<br />
<p style="font-size: 50px;" class='text-center'>Публикация книги</p>
<br />
<form enctype="multipart/form-data" action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        Введите название вашей книги<br>
        {{ form.title(class="form-control", type="title") }}<br>
    </p>
     <p>
        Приложите фото обложки вашей книги<br>
        {{ form.photo(class="form-control") }}<br>
    </p>
    <p>
        Прикрепите книгу в формате pdf<br>
        {{ form.file(class="form-control") }}<br>
    </p>
    <p>
        Опишите кратко, о чём ваша книга<br>
        {{ form.content(class="form-control", type="content") }}<br>
    </p>
    <p>
        А теперь расскажите поподробнее<br>
        {{ form.con(class="form-control", type="password") }}<br>
    </p>
    <p>{{ form.submit(value="Опубликовать", type="submit", class="btn btn-primary", background='cyan') }}</p>
    {{message}}
</form>
{% endblock %}