{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<table>
    <tbody>
    <br />
    <p style="font-size: 50px;" class='text-center'>Ваш профиль</p>
    <br />
        <tr class='item'>
            <td>
                <h2>Ваше имя - {{ user.name }}</h2>
                <h2>Ваша электронная почта - {{ user.email }}</h2>
                <h2>Ваша дата регистрации - {{ user.created_date.strftime("%d.%m.%Y") }}</h2>
                <br />
                <big><a class="btn btn-primary" href="/edit">Редактировать</a>
                    <a class="btn btn-danger" href="/deleteaccount ">Удалить</a></big>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </td>
        </tr>
    </tbody>
</table>

<div style="display:flex; justify-content:center; align-items:center; ">
                    <a href="/publish" style="font-size: 50px;" class="btn align-center btn-success">Хотите опубликовать собственную книгу?</a>
</div>

</div>
{% endblock %}